In [9]:
import utils
from collections import defaultdict, deque
import math
import random
import sys
import bisect
from operator import itemgetter

import numpy as np
import pandas as pd
infinity = float('inf')

In [15]:
cities = ["Mumbai","Ahemdabad","Delhi","Chennai","Banglore"]

city_dist = [[0,400,1200,1000,500],
             [400,0,1000,1600,1200],
             [1200,1000,0,2000,1500],
             [1000,1600,2000,0,500],
             [500,1200,1500,500,0]]
m = pd.DataFrame(city_dist, columns= cities, index= cities)

m

           Mumbai  Ahemdabad  Delhi  Chennai  Banglore
Mumbai          0        400   1200     1000       500
Ahemdabad     400          0   1000     1600      1200
Delhi        1200       1000      0     2000      1500
Chennai      1000       1600   2000        0       500
Banglore      500       1200   1500      500         0

In [160]:
###### Hill Climbing ######
def hill_climbing(x):
    rew = 0
    i = 0
    path = []
    n = x.shape[0]-1
    s = x.sample(1)
    path.append("".join(s.index.tolist()))
    a = s.max(axis = 1).iloc[0]
    b = s.idxmax(axis=1).iloc[0]
#     path.append(b)
    rew += a
    x = x.drop(s.index.tolist(),axis =1 )
    x = x.drop(s.index.tolist(),axis =0 )

    for i in range(n):
        s = x[b]
        path.append(b)
        x = x.drop([b],axis =1 )
        x = x.drop([b],axis =0 )
        a = s.max()
        b = s.idxmax()
        rew += a
        
    return path,rew

In [170]:
###### Find the best path ########


i = 0
y = 1000000 #### please put this number very high if your distances are large so that the total path is always less than this number
route = []
while i <= 2*len(cities) :
    a , b  = hill_climbing(m)
    print(a , b)
    if b < y:
        route = a
        y = b
    i = i+1
    
    
print("\n","So the path with least distance is : " ,route)
print(" The Distance to ravel for this path is " , y)

['Mumbai', 'Delhi', 'Chennai', 'Ahemdabad', 'Banglore'] 6000
['Chennai', 'Delhi', 'Banglore', 'Ahemdabad', 'Mumbai'] 5100
['Delhi', 'Chennai', 'Ahemdabad', 'Banglore', 'Mumbai'] 5300
['Delhi', 'Chennai', 'Ahemdabad', 'Banglore', 'Mumbai'] 5300
['Delhi', 'Chennai', 'Ahemdabad', 'Banglore', 'Mumbai'] 5300
['Banglore', 'Delhi', 'Chennai', 'Ahemdabad', 'Mumbai'] 5500
['Banglore', 'Delhi', 'Chennai', 'Ahemdabad', 'Mumbai'] 5500
['Banglore', 'Delhi', 'Chennai', 'Ahemdabad', 'Mumbai'] 5500
['Ahemdabad', 'Chennai', 'Delhi', 'Banglore', 'Mumbai'] 5600
['Chennai', 'Delhi', 'Banglore', 'Ahemdabad', 'Mumbai'] 5100
['Chennai', 'Delhi', 'Banglore', 'Ahemdabad', 'Mumbai'] 5100

 So the path with least distance is :  ['Chennai', 'Delhi', 'Banglore', 'Ahemdabad', 'Mumbai']
 The Distance to ravel for this path is  5100